name: Update README with Recent Activity

on:
  schedule:
    # Every 3 hours
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Update Recent GitHub Activity in README
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - uses: Readme-Workflows/recent-activity@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
